<mat-grid-list cols="8" rowHeight="25px" *ngIf="user.live;else noStream">
  <mat-grid-tile
    *ngFor="let tile of tiles; let i = index"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.font-size]="tile.fontSize"
    [style.font-weight]="tile.fontWeight">
    <div *ngIf="!!tile.text" style="width: 100%;">{{tile.text}}</div>
    <img style="max-height:100%; border-radius: 50%;" *ngIf="i===3" src={{user?.live?.updatedGameIconUrl}}>
    <img style="max-height:100%; border-radius: 10%;" *ngIf="i===0" src={{user?.profileImage}}>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #noStream>
  <mat-grid-list cols="8" rowHeight="50px">
    <mat-grid-tile
      *ngFor="let tile of noStreamTiles; let i = index"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.font-size]="tile.fontSize">
      <div *ngIf="!!tile.text" style="width: 100%;">{{tile.text}}</div>
      <img style="max-height:100%; border-radius: 10%;" *ngIf="i===0" src={{user?.profileImage}}>
      <i (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu" *ngIf="i===2 && extensions?.length > 0"
         class="material-icons"> info </i>
      <mat-menu #menu="matMenu">
        <button *ngFor="let extension of extensions" mat-menu-item
                (click)="open(extension);">
          {{extension.name}}
        </button>
      </mat-menu>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
