<div class="octagonWrap">
  <div class='octagon'
       [ngStyle]="!portrait ? {'width.vw':size, 'height.vw':size} : {'width.vh':size, 'height.vh':size}">
    <div class="default" [ngClass]="{'newTab': newTab, 'empty': !redirect && !newTab  }" matRipple
         (click)="click()"
         [matRippleColor]="matRippleColor">
    </div>
    <img *ngIf="img" class="image" src={{img}}>
    <app-ease-in-text class="text" [hidden]="!text" [text]=text></app-ease-in-text>
    <!--    <span *ngIf="text" class="text" [innerHTML]="text"></span>-->
  </div>
</div>
