<div class="twitch-page-container">
  <mat-card class="twitch-header">
    <div class="row" *ngIf="token">
      <div class="left-elements">
        <img width="50" height="50" src={{user?.profileImageUrl}}>
        <div>Logged as {{user?.displayName}}, userId: {{user?.userId}}</div>
        <button (click)="logout()">Logout</button>
      </div>
      <div class="right-elements" (click)="refreshSubscriptions()">
        <div class="row"><i class="material-icons"> refresh </i>
          Update stream data
        </div>
        <div>Last refresh time : {{lastRefresh | date:'mediumTime'}}</div>
        <app-progress-bar
          [step]="1"
          [steps]="5"
          [value]="minutesToNow$ | async"
          [colors]="['#4ab549', '#ffdf3a', '#ffb246', '#ca3b3b', '#843434']"
          (trigger)="refreshSubscriptions()">
        </app-progress-bar>
      </div>
    </div>
    <div class="row" *ngIf="!token">
      <a href={{url}}>Log in</a>
    </div>
  </mat-card>
  <div class="container">
    <div class="element scroll">
      <mat-card *ngFor="let user of data"
                [ngStyle]="{'background-color': isUserSelected(user) ? 'blue' : null}">
        <app-twitch-row [user]="user" (click)="clickRow(user)"></app-twitch-row>
      </mat-card>
    </div>

    <div class="element scroll" *ngIf="displayedStreamer">
      <app-twitch-player [streamer]="displayedStreamer"></app-twitch-player>
    </div>

    <div class="element scroll" *ngIf="displayedUser">
      <app-previous-videos-table [videos]="previousVideos"></app-previous-videos-table>
    </div>
  </div>
</div>
