<div class="metrics-page-container">
  <h1 class="title">List of application beans</h1>

  <p class="filterMode">
    Search by :
    <span (click)="setFilterMode()"
          [ngClass]="{'selected': searchByFilter}">
      Filter
    </span>
    &nbsp;or
    <span (click)="setCategoryMode()"
          [ngClass]="{'selected': !searchByFilter}">
      Category
    </span>
  </p>

  <div class="filterAndPagination">
    <div class="category">
      <ng-container *ngIf="searchByFilter === false" >
        <mat-chip-list>
          <mat-chip *ngFor="let category of categories;"
                    [selected]="category.selected"
                    (click)="setCategory(category)">
            {{category.label}}
          </mat-chip>
        </mat-chip-list>
      </ng-container>

      <mat-form-field *ngIf="searchByFilter">
        <input matInput (keyup)="applyFilter()" placeholder="Filter" [(ngModel)]="filter">
      </mat-form-field>
    </div>

    <div>
      <mat-paginator [length]="beans?.length" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="table-scroll">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name column -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let bean" matTooltip={{format(bean.name)}} matTooltipClass="customTooltip">
          {{bean.name | beanName}}
        </td>
      </ng-container>

      <!-- Other columns -->
      <ng-container *ngFor="let property of vanillaColumns" matColumnDef={{property}}>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{property | titlecase}}</th>
        <td mat-cell *matCellDef="let bean"> {{bean[property]}}</td>
      </ng-container>

      <!-- Resource column -->
      <ng-container matColumnDef="resource">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource</th>
        <td mat-cell *matCellDef="let bean">
          {{bean.resource}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
</div>
