::ng-deep .customTooltip {
  white-space: pre-line !important;
}

.title {
  height: var(--title);
}

.metrics-page-container {
  width: calc(100% - 2 * 50px);
  height: calc(100% - var(--header-menu));
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table-scroll {
  display: block;
  width: 100%;
  overflow: auto;
}

table {
  min-width: 100%;
}

.mat-cell {
  border: 1px solid #e0e0e0;
  padding: 0 5px;
}

.filterAndPagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 65px;
}

.filterInput {
  width: 25%;
}

.category {
  overflow-y: auto;
  overflow-x: hidden;
}

.filterMode {
  padding-top: 10px;
}

.filterMode > span {
  background-color: lightsteelblue;
  border-radius: 10px;
  padding: 5px;
}

.selected {
  background-color: goldenrod !important;
}
