.flex-column {
  display: flex;
  flex-direction: column;
}

.video-player {
  display: flex;
  justify-content: space-around;
}

.video-picker {
  height: 33.3vw;
  width: 33%;
  overflow-y: scroll;
  overflow-x: hidden;
}


.video-row {
  display: flex;
  padding-bottom: 3px;
}

.video-img {
  height: 7vw;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-picker {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

.video-picker::-webkit-scrollbar {
  width: 11px;
}

.video-picker {
  scrollbar-width: thin;
}

.video-picker::-webkit-scrollbar-track {
  background: blue;
}

.video-picker::-webkit-scrollbar-track-piece {
  background: red;
}


.video-picker::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
