<!--En tant que dev, qui commence une nouvelle mission, j'ai souvent besoin de :-->
<!-- - Un IDE, donc lien Intellij-->
<!-- - Maven-->
<!-- - Postman ( lien de téléchagement direct ) + une collection par défaut? (0 interet)-->
<!-- - redux devtools (ngrx only)-->

<!--En tant que dev, j'ai besoin de quoi comme outils récurrents en ligne ou à dl?-->
<!-- - jwt.io-->
<!-- - -->
<!-- - lire des logs (en txt, faut que je trouve un programme)-->


<!--Des raccourcis configurables pour la mission (stocké dans cookie par exemple)-->
<!-- - Lien Feuille de temps-->
<!-- - Lien Mail-->
<!-- - Lien Jira-->
<!-- - Lien.... des applis en localhost-->
<!-- - Lien des applis sur les différents env-->


<!--Oh. ça pourrait... faire que sur la "fleur" de bouton,-->
<!--un clic sur un pétale étend les boutons, et en rajoute genre 3 de plus autour? (chaud à gérer pour les pos)-->
<!--<div style="display: flex; flex-direction: column">-->
<!--  <app-ease-in-text [id]="0" [text]="'OPERATION PINE SOOT (INSTRUMENTAL)'"></app-ease-in-text>-->
<!--</div>-->


<div>
  <app-button-flower class="flower0" [number]="0" [buttonList]="buttonList0"></app-button-flower>
  <app-button-flower class="flower1" [number]="1" [buttonList]="buttonList1"></app-button-flower>
<!--  <app-button-flower class="flower" [number]="2" [buttonList]="buttonList0"></app-button-flower>-->
<!--  <app-button-flower class="flower" [number]="3" [buttonList]="buttonList0"></app-button-flower>-->
</div>
