.header-menu {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-menu);
  background: darkgrey;
}

.header-menu a {
  text-decoration: none;
}

.mat-menu-content {
  background-color: darkgrey !important;
}

.mat-menu-content a {
  text-decoration: none;
}

.tooltipClass {
  background: #137a7a;
}
