<div class="header-menu">

  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="twitch" routerLinkActive="active">Twitch</a>
  <a routerLink="processing" routerLinkActive="active">Processing</a>

  <a [matMenuTriggerFor]="menu"> PoCs </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="metrics" routerLinkActive="active">Metrics</a>
    </button>
    <button mat-menu-item>
      <a routerLink="pocs" routerLinkActive="active">Spring cloud config</a>
    </button>
    <button mat-menu-item>
      <a href="{{SWAGGER_URL}}" target="_blank">Swagger</a>
    </button>
  </mat-menu>
</div>
