<div class="header-menu">

  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="twitch" routerLinkActive="active">Twitch</a>
  <a routerLink="processing" routerLinkActive="active">Processing</a>
  <a [matMenuTriggerFor]="arduinoMenu"> Arduino </a>
  <a [matMenuTriggerFor]="pocsMenu"> PoCs </a>

</div>


<mat-menu #pocsMenu="matMenu">
  <a mat-menu-item routerLink="metrics" routerLinkActive="active">Metrics </a>
  <a mat-menu-item routerLink="pocs" routerLinkActive="active">Spring cloud config </a>
<!--  <a mat-menu-item routerLink="webdesign" routerLinkActive="active">WebDesign</a>-->
  <a mat-menu-item routerLink="game/1" routerLinkActive="active">Game</a>
  <a mat-menu-item href="{{SWAGGER_URL}}" target="_blank">Swagger </a>
</mat-menu>

<mat-menu #arduinoMenu="matMenu">
  <button mat-menu-item disabled>
    <span>Requires local java backend / arduino</span>
  </button>
  <a mat-menu-item routerLink="arduino/setup" routerLinkActive="active">Setup </a>
  <a mat-menu-item routerLink="arduino/interact" routerLinkActive="active">Interact </a>
</mat-menu>
