<p>Follow button</p>
data-band-id
<iframe scrolling="no" style="border: 0;width: 100%;height: 50px;"
        src="https://bandcamp.com/band_follow_button_deluxe/1258394256"></iframe>

<p>The list of albums (pictures, id for loading the music player) is hardcoded.</p>

<div class="flex-row">
  <mat-grid-list cols="3" rowHeight="13.3vw" class="container">
    <mat-grid-tile
      *ngFor="let tile of tiles;"
      [colspan]=1 [rowspan]=1
      (click)="setPlayerUrl(tile.albumId)"
    >
      <img style="max-height:100%;" src={{tile.img}}>
      <div class="content">
        <div class="text">{{tile.title}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <iframe *ngIf="playerUrl" style="border: 0; width: 40vw; height: 40vw;"
          [src]="playerUrl"
          seamless>
  </iframe>
  <div *ngIf="!playerUrl" style="border: 0; width: 40vw; height: 40vw;">
    <!--    that's an empty container the size of the embedded player-->
  </div>
</div>
