<div class="component-container">
  <div class="game-content">
    <img src="assets/game_files/bg/contour.gif" class="contour">
    <div class="game-background" (mousemove)="onMove($event)"
         (click)="onClick()"
         [ngClass]="{'cursor-torch': uvOn, 'red-card': redCard}">
      <img src="assets/game_files/bg/bg1-new.gif" class="game-top-layer">
      <img *ngIf="uvOn && above" src="assets/game_files/cursor/cursor.gif" cdkDrag [cdkDragFreeDragPosition]="pos">
    </div>
    <app-inventory [items]="items" (trigger)="onItemEvent($event)"></app-inventory>
  </div>
</div>
