.game-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em 1em 0;
}


.game-background {
  position: absolute;
  left: calc(100px + 1em);
  top: calc(140px + 1em);
  width: 900px;
  height: 500px;
  background-image: url('assets/game_files/bg/bg1_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.game-top-layer {
  position: absolute;
  z-index: 3;
  width: 900px;
  height: 500px;

}

.cursor-torch {
  cursor: url("assets/game_files/cursor/uvlight.cur"), pointer;
}
.red-card {
  cursor: url("assets/game_files/cursor/red_card.cur"), pointer;
}
