<div style="display: flex; justify-content: center" class="container">
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 85% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 0%)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 75% 100%, 75% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 75% 100%, 75% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style="clip-path: polygon(30% 0%, 30% 100%, 70% 100%, 70% 0)"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
    <div class="segment" style="clip-path: polygon(30% 0%, 30% 100%, 70% 100%, 70% 0)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style="clip-path: polygon(60% 0%, 60% 100%, 85% 100%, 85% 0)"></div>
    <div class="segment" style="clip-path: polygon(60% 0%, 60% 100%, 85% 100%, 85% 0)"></div>
    <div class="segment" style="clip-path: polygon(60% 0%, 60% 100%, 85% 100%, 85% 0)"></div>
    <div class="segment" style="clip-path: polygon(60% 0%, 60% 100%, 85% 100%, 85% 0)"></div>
    <div class="segment" style="clip-path: polygon(20% 0%, 20% 100%, 85% 100%, 85% 0)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 50% 0, 50% 100%, 75% 100%, 75% 0%)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 50% 0, 50% 100%, 75% 100%, 75% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>

  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment" style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0,
     37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0,
     75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>
  0
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style="clip-path: polygon(
     0% 0%, 0% 100%, 25% 100%, 25% 0,
     0% 0%, 0% 100%, 37.5% 100%, 37.5% 0,
     75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style="clip-path: polygon(
     0% 0%, 0% 100%, 25% 100%, 25% 0,
     37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0,
     75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style="clip-path: polygon(
     0% 0%, 0% 100%, 25% 100%, 25% 0,
     62.5% 0%, 62.5% 100%, 100% 100%, 100% 0,
     75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 50% 0, 55% 100%, 75% 100%, 70% 0%, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 50% 0, 50% 100%, 75% 100%, 75% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon( 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
    <div class="segment" style="clip-path: polygon(37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">

    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 37.5% 0%, 37.5% 100%, 62.5% 100%, 62.5% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 37.5% 100%,  37.5% 0,  62.5% 0,  62.5% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: center" class="container">
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
    <div class="segment"
         style="clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0%)"></div>
    <div class="segment" style=""></div>
  </div>

</div>


<!--  <div class="A" #image>une super grande image</div>-->
<!--  <div class="B"></div>-->
<!--  <div class="C"  #text>et un texte trop bien</div>-->
