.container2 {
  height: 100%;
}

.container {
  display: flex;
  height: calc(100% - var(--header-height));
  padding-top: 2px;
}

.header {
  padding: 5px;
  background-color: indigo;
  color: navajowhite;
}

.row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.left-elements {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.left-elements > * {
  margin-right: 10px;
}

.right-elements{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.element {
  width: 50%;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
}
