<div>
  <div>
    <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
  </div>

  <div>
    Login through this button let me read some of your youtube account properties.
    With this I can display your playlists, public/unlisted ones.
  </div>
  <div style="font-size: small">
    (App can read your email, name. And "app" could mean me if i decide to save this info.
    But you can't tell what i am actually doing, so don't click.
    It's only fine to give all your private data to facebook and twitter totally suspicious apps because it's fun
    because they tell you who your secret lover is)
  </div>
</div>
