<div id="inventory">
  <button *ngFor="let item of items"
          class="inventory-button"
          [ngClass]="{'inventory-button-active': item.isActive}"
          (click)="trigger.emit(item.id)">
    <img src={{item.pictureUrl}} class="inventory-item-image" matTooltip={{item.name}} [matTooltipPosition]="'right'">
  </button>


  <div style="width: 50px; height: 50px;"></div>
  <button class="inventory-button">
    <img src="/assets/game_files/items/cardReader.gif" class="inventory-item-image" matTooltip="Card Editor"
         [matTooltipPosition]="'right'" [matMenuTriggerFor]="stateEditor">
  </button>

  <mat-menu #stateEditor="matMenu" yPosition="above">
    <div *ngIf="isCardSelected(); then cardMenu else noCard"></div>

    <ng-template #cardMenu>
      <button mat-menu-item (click)="saveState()"> Download card content</button>
      <button mat-menu-item (click)="fileInput.click(); $event.stopPropagation()">
        <span> Upload new card content</span>
        <input #fileInput type="file" (input)="loadState()" id="file_upload" style="display:none;"/>
      </button>
    </ng-template>

    <ng-template #noCard>
      <button mat-menu-item disabled> Please select a card</button>
    </ng-template>

  </mat-menu>

</div>
