.title {
  height: 10%;
}

.component {
  height: 80%;
  width: 70%;
  margin: 0 auto;
}

.menu {
  width: 100%;

}


.page {
  height: 100%;
}

.fa {
  font-size: 48px;
}

.fa:hover {
  color: red;
}

.inactive {
  color: black !important;
}

.bottom {
  display: flex;
  justify-content: space-between;
  border: 3px solid greenyellow;
  align-items: center;
  width: 100%;
}

