<div class="centered" *ngIf=" currentRoute === 'home' || (navigationId && navigationId !== 1)"
     [ngClass]="{'fade-in' : currentRoute === 'home', 'fade-out' : currentRoute !== 'home'}">
  <div *ngFor="let button of buttons;let index = index;">
    <app-button style="position: absolute;"
                [ngStyle]="{'left.vw': 6.5/8*button.size*(index%5),
                 'top.vw': 3.9/8*button.size*(( math.floor(index/5) +index)%2) + 7.8/8*button.size* math.floor(index/5)}"
                [size]="button.size" [img]="button.img" [text]="button.text" [redirect]="button.redirect"
                [newTab]="button.newTab"></app-button>
  </div>
</div>
