.footer {
  height: 10%;
}

.content {
  height: 80%;
  background-color: #2e4438;
  display: flex;
  justify-content: center;
}

.content > div {
  padding-left: 15px;
  padding-right: 15px;
}

.player {
  margin: auto 0 auto 0;
  width: 58vw;
  height: 33vw;
}

.chat {
  width: 320px;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .player {
    width: 80vw;
    height: 45vw;
  }

  .chat {
    display: none;
  }
}
