:thonk:


UV light is used to charge phosphorescent paint, or make fluorescent paint shine.
https://en.wikipedia.org/wiki/Blacklight

The guard (image).
Angular is a framework (some programmer thing) that helps in making website by providing tools, reusable functionalities.

A main component of an Angular-based website are Guards. When the user wants to navigate from one page to an other,
the guard executes a list of tests, and decides if the navigation is allowed or not. (it's not a security tool).

<!--Example : You're visiting a website with a login feature. You're already logged in, but try to access the /login url.-->
<!--Without a guard, you'll go to the page, the website realize you shouldn't be here, and redirect you to /home.-->

<!--With a guard, the website can check that you're already logged in, and prevent you from reaching /login.-->

<!--In the end the result is the same. You can't reach or stay on the /login page.-->
<!--But it's about user experience. With the guard, you didn't reach a /login page that blinked before sending you to an other page.-->

So yeah, I'm using an angular guard, to check if you can access the next level and i thought it would be fun to represent it by a "real guard".

hahaha.. lol...
