a {
  color: inherit;
}

.title-tile {
  background: lightsteelblue;
}

.description-tile {
  background: lightgray;
}

.preview-tile {
  background: none;
}

.views-tile {
  background: lightgray;
}

.duration-tile {
  background: lightgray;
}

.date-tile {
  background: lightgray;
}


.text{
  padding: 0 1em;
}
