/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --header-height: 60px;
  --header-menu: 40px;
  --paginator: 56px;
  --title: 20px;
}

body {
  margin: 0 !important;
  /*overflow: hidden;*/
}

/*for components that should fit on a single screen*/
.component-container {
  height: calc(100vh - var(--header-menu));
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  body {
    overflow: auto;
  }
}
