.container {
  width: 40vw;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.content {
  opacity: 0;
  font-size: 1.3vw;
  position: absolute;
  top: 0;
  left: 0;
  /*color: #1cc97e;*/
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 13.3vw;
  height: 13.3vw;

  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.content:hover {
  opacity: 1;
}

.content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

.content:hover .text {
  opacity: 1;
  transform: translateY(8vw);
  -webkit-transform: translateY(8vw);
}
