
<div class="footer">
  <div>
    <a
      href="https://docs.google.com/document/d/1IgnZucdU3wq-uBSizw7HuPyaE6IARr1bERef5x3M268/edit#heading=h.kqa87xz22s4m"
      target="_blank">Project documentation <i class="material-icons">lock</i></a>
  </div>
  <div>
    <a href="https://fonts.google.com/icons" target="_blank"> Material icons list</a>
  </div>
  <div>
    <a href="https://aceship.github.io/AN-EN-Tags/akhr.html" target="_blank"> Arknight recruitment guide</a>
  </div>
  <div>
    <a href={{SLR_DAILY_URL}} target="_blank"> SLR daily chapter</a>
  </div>
  <div>
    <a href="https://bennettfeely.com/clippy/" target="_blank"> clip path generator</a>
  </div>
  <div>
    <a href="https://cssgradient.io/" target="_blank"> gradient generator</a>
  </div>
</div>
