<!--<div class="footer">-->
<!--  <div>-->
<!--    <a href="https://fonts.google.com/icons" target="_blank"> Material icons list</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="https://bennettfeely.com/clippy/" target="_blank"> clip path generator</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="https://cssgradient.io/" target="_blank"> gradient generator</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="https://www.freeformatter.com/cron-expression-generator-quartz.html" target="_blank"> cron generator</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank"> flexbox</a>-->
<!--  </div>-->
<!--</div>-->
