<div class="component-container" style="border: 3px solid purple;">
  <div class="title">Game title</div>
  <div class="component" style="display:flex; justify-content: space-between; border: 3px solid red;">
    <div class="menu" style="display: flex;flex-direction: column;
     justify-content:space-evenly; align-items:center;border: 3px solid blue;">
      <div (click)="displayInstructions()">Instructions</div>
      <div (click)="displayLevels()">Levels</div>
      <div (click)="displayExtra()">Extra</div>
    </div>

    <div class="panel" style="border: 3px solid green;">
      <app-instructions *ngIf="instructionPanel"></app-instructions>
      <app-level-selection *ngIf="levels"></app-level-selection>
      <app-extra *ngIf="extra"></app-extra>

    </div>
  </div>

</div>
