<div style="height: 100%; border: 3px solid purple;">
  <div class="title">Levels</div>
  <div class="component" style="display:flex; border: 3px solid red;">
    <div class="menu"
         style="display: flex; flex-wrap: wrap; justify-content:flex-start; align-items:center;border: 3px solid blue;">
      <img src="assets/game_files/ui/button-1.gif" routerLink="/game/1">
      <img src="assets/game_files/ui/button-2.gif">
      <img src="assets/game_files/ui/button-3.gif">
      <img src="assets/game_files/ui/button-4.gif">
      <img src="assets/game_files/ui/button-4.gif">
      <img src="assets/game_files/ui/button-4.gif">
      <img src="assets/game_files/ui/button-4.gif">
      <img src="assets/game_files/ui/button-4.gif">
      <img src="assets/game_files/ui/button-4.gif">
    </div>

  </div>

</div>
